<div>
      <h2>Hello {{name}}</h2>
      <form [formGroup]="form">
        <input type="text" formControlName="firstname">
        <input type="text" formControlName="lastname">
      </form>
    </div>
    
    <div>
      <p>Form enabled: {{form.enabled}}</p>
      <p>Form valid: {{form.valid}}</p>
      <p>Form invalid: {{form.invalid}}</p>
      <p>
        Form value: {{form.value | json}}
      </p>
      <p>Fist name enabled: {{form.get('firstname').enabled}}</p>
      <p>Last name enabled: {{form.get('lastname').enabled}}</p>
      <p>
        Form getRawValue(): {{form.getRawValue() | json}}
      </p>
      
      
    </div>
    
    <hr>
    
    <div>
      <button (click)="form.get('firstname').enable()">Enable firstname</button>
      <button (click)="form.get('lastname').enable()">Enable lastname</button>      <hr>
      <button (click)="form.get('firstname').disable()">Disable firstname</button>
      <button (click)="form.get('lastname').disable()">Disable lastname</button>
      <button (click)="form.get('lastname').enable()">Enable lastname</button>      <hr>
      <button (click)="toggleForm()">Toggle Form</button>
    </div>
