<div class="ui-g-6">
  <p-dataTable #dataTable [value]="messageStatusList | async" expandableRows="true" (onLazyLoad)="handleLazyLoad($event)" (onRowSelect)="handleRowSelect($event)"
    (onRowExpand)="handleRowExpand($event)" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="CreationDateTime" header="CreationDateTime" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="StateID" header="StateID" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="ID" header="ID" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="FollowUp" header="FollowUp" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="MessageID" header="MessageID" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="searched" header="searched" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
  </p-dataTable>
</div>
<div class="ui-g-6">
  <p-panel header="Table Content" styleClass="panel-content">
    <div>
      <pre>{{(messageStatusList | async) | json}}</pre>
    </div>
  </p-panel>
</div>