<div id="header">
  <p-menubar styleClass="MenuLeft" [model]="cItems"></p-menubar>
</div>

<div id="content">
  <!--<a [routerlink]="/admin">Admin Area</a>-->
  <router-outlet></router-outlet>
  <!--<a href="http://localhost:4200/databaseinfo">DatabaseInfo</a>-->
  <div>
    <div class="ui-g-12">
      <h1>
        <button pButton type="button" (click)="inverse()" class="ui-button-secondary" icon="fa-check" iconPos="left" label="secondary"></button>
        <button pButton type="button" (click)="count()" class="ui-button-success" icon="fa-check" iconPos="left" label="succes"></button>
        <button pButton type="button" (click)="count()" class="ui-button-info" icon="fa-check" iconPos="left" label="info"></button>
        <button pButton type="button" (click)="count()" class="ui-button-warning" icon="fa-check" iconPos="left" label="warning"></button>
        <button pButton type="button" (click)="reset()" class="ui-button-danger" icon="fa-check" iconPos="right" label="reset" [disabled]="cDisabled"></button>
      </h1>
      <div>
        <h2>{{ clicks }}</h2>
        <h6>ng serve --environment=test</h6>
      </div>
    </div>
    <!--
    <div class="ui-g-4">
      <h1>
        <button pButton type="button" (click)="inverse()" class="ui-button-secondary" icon="fa-check" iconPos="left" label="secondary"></button>
        <button pButton type="button" (click)="count()" class="ui-button-success" icon="fa-check" iconPos="left" label="succes"></button>
        <button pButton type="button" (click)="count()" class="ui-button-info" icon="fa-check" iconPos="left" label="info"></button>
        <button pButton type="button" (click)="count()" class="ui-button-warning" icon="fa-check" iconPos="left" label="warning"></button>
        <button pButton type="button" (click)="reset()" class="ui-button-danger" icon="fa-check" iconPos="right" label="reset" [disabled]="cDisabled"></button>
      </h1>
    </div>
-->
  </div>